/*

Buzzle - Classifed Ads Mobile Template
Author : aStylers
Author URL : https://themeforest.net/user/astylers

*/

/*

Table of Content:
- general
- separator
- divider
- block
- block title
- title
- clear float left & right 
- grid system 
- list
- form element
- sheet modal
- image
- page
- radius content and image
- mask
- active state custom
- PAGE CONTENT CUSTOM
- button
- toolbar bottom
- navbar & subnavbar
- sidebar / panel
- content box
- item style
- searchbar
- categories
- featured ads
- promo banner
- favorites
- tab search
- tab profile
- swiper container
- ads details
- chat
- settings
- image illustration
- blank page
- contact
- blog
- blog details
- notifications
- tab add ads
- add ads product details
- background color & color
- social media color

*/

/* variable */

/* general */
body {
  /* font-family: "Montserrat Alternates", sans-serif !important; */
  font-family: "Work Sans", sans-serif !important;
  font-size: 14px;
  font-weight: 400;

  background: --f7-text-editor-toolbar-bg-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 110%;
  /* font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif; */
  margin: 0;
  font-weight: 500;
  color: black;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 17px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
}

h5 > p {
  margin-bottom: 20px;
}

h6 {
  font-size: 13px;
}

a {
  color: #888;
}

a:focus {
  outline: 0;
}

p {
  margin: 0;
  font-size: 13px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
}

/* separator */
.separator-extra-small {
  height: 8px;
}

.separator-small {
  height: 15px;
}

.separator-medium {
  height: 20px;
}

.separator-large {
  height: 30px;
}

.separator-semi-large {
  height: 55px;
}

.separator-extra-large {
  height: 80px;
}

.separator-top-large {
  height: 60px;
}

.separator-bottom-large {
  height: 60px;
}

/* divider */
.divider-h {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin: 15px 0;
}

/* block */
.container {
  padding-left: 15px;
  padding-right: 15px;
}

/* block title */
.block-title {
  margin-bottom: 15px;
  margin-top: 30px;
}

.block-title.block-title-center {
  text-align: center;
}

.block-title h3 {
  font-size: 17px;
  font-weight: 700;
}

.block-title .right-link {
  float: right;
  color: #01cfb0;
  font-weight: 500;
  text-transform: none;
  font-size: 14px;
}

.block-title .right-link ion-icon {
  font-size: 26px;
}

.block-title .block-subtitle {
  font-weight: 400;
  color: #888;
}

/* title */
.title-extra-small {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: #888 !important;
  text-transform: uppercase !important;
}

.title-small h3 {
  font-size: 16px;
}

.title-medium h3 {
  font-size: 24px;
  font-weight: 700;
}

.title-large h3 {
  font-size: 30px;
  font-weight: 700;
}

.second-title {
  font-size: 15px;
  font-weight: 500;
  color: #212529;
}

.text-small {
  font-size: 12px;
  color: #ddd;
}

.text-extra-small {
  font-size: 10px;
}

.text-center {
  text-align: center;
}

/* clear float left & right */
.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

/* grid system */
.row {
  margin-bottom: 15px;
}

.row:last-child {
  margin-bottom: 0;
}

/* list */
.list ul {
  background: transparent;
}

.list ul::before {
  display: none;
}

.list ul::after {
  display: none;
}

.list .item-content {
  padding-left: 15px;
}

.list .item-inner::after {
  display: none;
}

.list .item-link .item-inner::after {
  display: none;
}

.list .item-media i {
  font-size: 20px;
}

.list .item-title {
  font-size: 14px;
  font-weight: 500;
  color: #383e50;
}

.list.all-page-list {
  margin: 15px 0 20px;
}

/* form element */

input {
  height: 38px !important;
  font-size: 11px !important;
  background: #f8fcff14 !important;
  border-radius: 4px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: #101010 !important;
  width: 100%;
  background: beige;
  border: 1px solid #00000085;
}

textarea {
  font-size: 14px !important;
  background: #fff !important;
  border-radius: 8px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: #383e50 !important;
}

input[type="text"] {
  display: flex !important;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-clear-button {
  right: 10px;
}

select {
  height: 40px !important;
  font-size: 14px !important;
  background: #fff !important;
  border-radius: 8px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

select option {
  cursor: pointer;
}

form.list {
  margin: 0;
}

form.list .item-inner {
  padding: 0 15px 0 0;
  padding-right: 15px;
}

form.list .row .item-content {
  padding-left: 0;
}

form.list .row .item-inner {
  padding-right: 0;
}

form.list .item-input-wrap {
  margin-top: 0;
  margin-bottom: 10px;
}

form.list .item-input:last-child .item-input-wrap {
  margin-bottom: 0;
}

/* sheet modal */
.sheet-modal {
  border-radius: 18px 18px 0 0;
}

.sheet-modal::before {
  display: none !important;
}

/* image */
 {
  display: block;
}

.full-width {
  width: 100% !important;
}

/* page */
.page {
  background: white;
}

.page.page-bg-white {
  background: #fff;
}

@-moz-document url-prefix() {
  .page-content {
    padding-bottom: 0 !important;
    overflow-x: hidden;
  }

  .page.page-home {
    padding-bottom: 52px !important;
    overflow-x: hidden;
  }
}

/* radius content and image */
.radius-default {
  border-radius: 12px;
}

.radius-small {
  border-radius: 4px;
}

.radius-medium {
  border-radius: 8px;
}

.radius-large {
  border-radius: 18px;
}

.radius-circle {
  border-radius: 50%;
}

.radius-top-only {
  border-radius: 12px 12px 0 0;
}

/* mask */
.half-mask {
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 18px;
}

/* active state custom */
.ios .link.active-state {
  opacity: 1;
}

.button.active-state {
  background: #b9fff5;
  color: #01cfb0;
}

.list .item-link.active-state {
  background-color: #e1e8f2;
}

/* ========== PAGE CONTENT CUSTOM ========== */
.tab-home {
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  /* padding-bottom: 50px; */
  overflow-x: hidden;
}

.tab-favorite {
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.tab-add {
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.tab-search {
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.tab-profile {
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
  overflow-x: hidden;
}

html.with-panel .framework7-root > .view .tab {
  overflow: hidden !important;
  -webkit-overflow-scrolling: auto;
}

/* ========== END PAGE CONTENT CUSTOM ========== */

/* button */
.button {
  background: #01cfb0;
  border-radius: 21px;
  padding: 0 15px;
  height: 36px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: none;
}

.button.button-with-auto {
  width: auto;
}

.secondary-button {
  background: transparent;
  border: 1px solid #01cfb0;
  color: #01cfb0;
}

.button-icon-extra-small {
  height: 35px;
  line-height: 40px;
  padding: 0 5px;
}

.button-icon-small {
  height: 35px;
  line-height: 40px;
  padding: 0 15px;
}

.button-icon-large {
  width: 28px;
  height: 30px;
  font-size: 22px;
  padding: 0;
}

.button-small {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}

.button-default .button {
  margin-top: 15px;
}

/* toolbar bottom */
.toolbar {
  height: 52px;
}

.tabbar-labels .tab-link {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.ios .toolbar.toolbar-bottom .toolbar-inner .tab-link.tab-link-active {
  color: #698aff;
}

.toolbar-bottom::before {
  display: none;
}

.toolbar-bottom ion-icon {
  font-size: 25px;
  text-align: center;
}

.toolbar-bottom .tabbar-label {
  font-size: 11px;
}

.adding-ads {
  height: 46px;
  width: 46px;
  text-align: center;
  position: fixed;
  top: -12px;
  background: #698aff;
  color: #fff;
  border-radius: 50%;
  line-height: 56px;
  box-shadow: 0 5px 9px -4px rgb(0 0 0 / 46%);
}

/* navbar & subnavbar */
.navbar {
  height: 52px;
}

.navbar .navbar-inner {
  padding-left: 5px !important;
  padding-right: 5px !important;
  background: white;
  border-bottom: 1px solid #21252933;
  justify-content: space-between;
}

.navbar .link {
  color: #383e50;
}

.navbar .link ion-icon {
  font-size: 24px;
}

.navbar .icon-back::after {
  font-size: 18px;
}

.navbar-bg {
  background: #fff;
}

.navbar-bg::after {
  background: #ddd;
}

.subnavbar {
  background: transparent;
}

.subnavbar::after {
  display: none;
}

/* sidebar / panel */
.panel {
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar-right {
  width: 100%;
  background: #f5f5f9;
}

.panel-header .content {
  width: 55px;
  border-radius: 18px;
  float: left;
  margin-right: 15px;
}

.panel-header .content .title-name {
  overflow: hidden;
}

.panel-header .content .title-name p span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #01cfb0;
  margin-right: 5px;
  border-radius: 50%;
}

/* content box */
.content-box {
  background: linear-gradient(135deg, #698aff 0%, #383e50 100%);
  padding: 15px;
  border-radius: 2px;
  display: flex;
}

/* item style */
.title-item {
  font-weight: 500;
  color: #383e50;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-item.title-item-large {
  font-size: 20px;
  font-weight: 600;
}

.content-item {
  position: relative;
}

.content-item .text-desc {
  padding: 10px;
}

.price-item {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #698aff;
}

.rating-item {
  margin-bottom: 10px;
  display: flex;
}

.rating-item li {
  display: inline-block;
  margin-right: 3px;
}

.rating-item li:last-child {
  margin-right: 0;
}

.rating-item li ion-icon {
  color: #ff9234;
}

.rating-filter ul li {
  display: inline-block;
  margin-right: 5px;
}

.rating-filter ul li a {
  background: #fff;
  padding: 6px 15px;
  border-radius: 4px;
  text-align: center;
  color: #888;
  display: inline-block;
}

.rating-filter ul li ion-icon {
  margin-right: 3px;
  color: #698aff;
}

.rating-filter ul li.rating-active a {
  background: #698aff;
  color: #fff;
}

.rating-filter ul li.rating-active a ion-icon {
  color: #fff;
}

.rating-filter ul li:last-child {
  margin-right: 0;
}

.location-item {
  font-size: 10px;
}

.location-item ion-icon {
  margin-right: 4px;
}

/* searchbar */
.searchbar {
  background: white;
}

.searchbar::after {
  display: none;
}

.searchbar .searchbar-input-wrap {
  height: 40px;
}

.searchbar .searchbar-disable-button {
  font-size: 14px;
  color: #698aff;
}

/* .searchbar-inner {
  padding-left: 15px;
  padding-right: 15px;
} */

.searchbar-icon::after {
  font-size: 22px;
}

.header-title h3 {
  font-size: 26px;
  font-weight: 800;
}

/* categories */
.categories .content {
  /* background: rgb(140 165 255 / 23%);
  text-align: center;
  padding: 8px;
  border-radius: 3px;
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
  background-image: radial-gradient(
    circle,
    #698aff,
    #698aff91,
    #698aff,
    #698aff,
    #698aff
  ); */
}

.categories .content ion-icon {
  font-size: 35px;
}

.categories .content h6 {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 12px;
}

/* featured ads */
.featured .swiper-slide {
  width: 145px;
}

.favorite-symbol {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  line-height: 42px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
}

.favorite-symbol ion-icon {
  font-size: 17px;
  color: #383e50;
}

.favorite-symbol.active-symbol {
  background: #698aff;
}

.favorite-symbol.active-symbol ion-icon {
  color: #fff;
}

.featured-symbol {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  line-height: 42px;
  text-align: center;
  background: #ff9234;
  border-radius: 50%;
}

.featured-symbol ion-icon {
  font-size: 17px;
  color: #fff;
}

/* promo banner */
.promo-banner .content-left {
  padding-right: 15px;
}

.promo-banner .content-right {
  justify-content: end;
  align-self: center;
}

/* favorites */
.favorites .content-wrapper {
  display: flex;
  position: relative;
}

.favorites .content-image {
  align-self: center;
}

.favorites .content-image img {
  width: 90px;
  float: left;
  margin-right: 15px;
}

.favorites .boxed {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  width: 100%;
}

/* tab search */
.search-action .content {
  background: #698aff;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}

.search-action .content ion-icon {
  margin-right: 5px;
  color: #fff;
}

.popular-search ul li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}

.popular-search ul li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.popular-search ul li span {
  text-align: center;
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  color: #888;
  padding: 5px 15px;
  font-size: 12px;
}

/* tab profile */
.header-profile {
  background: #fff;
  border-radius: 18px;
  text-align: center;
  /* padding-top: 22px; */
  margin-top: -49px;
}

.header-profile img {
  width: 80px;
  border-radius: 18px;
  margin: auto;
  margin-bottom: 15px;
  /* position: relative;
  top: -60px;
  margin-bottom: -45px; */
}

.header-profile .title-name h4 {
  margin-bottom: 5px;
  font-size: 20px;
}

.profile-statistic {
  position: relative;
}

.profile-statistic .line-divider {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 35px;
  width: 1px;
  height: 30px;
  background: #ddd;
}

.profile-media ul li {
  display: inline-block;
  margin: 0 10px;
}

.profile-media ul li a {
  width: 45px;
  height: 45px;
  line-height: 55px;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
}

.profile-media ul li a ion-icon {
  color: #fff;
  font-size: 20px;
}

/* swiper container */
.swiper-container {
  border-radius: 12px;
}

.swiper-container.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
}

.swiper-container.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #698aff;
}

/* ads details */
.detail-title .price-item {
  float: right;
}

.image-preview .swiper-slide img {
  width: 100%;
  border-radius: 12px;
}

.tag-category {
  background: #698aff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 11px;
  color: #fff;
  display: inline-block;
}

.short-info p span {
  color: #383e50;
  font-weight: 500;
  margin-left: 5px;
}

.item-detail-action ul li {
  display: inline-block;
  margin-right: 10px;
}

.item-detail-action ul li ion-icon {
  font-size: 20px;
}

.item-details ul li {
  font-size: 13px;
  margin-bottom: 10px;
}

.item-details ul li span {
  font-size: 14px;
  font-weight: 500;
  color: #383e50;
  float: right;
}

.item-details ul li:last-child {
  margin-bottom: 0;
}

.map {
  width: 100%;
  height: 200px;
  border: 0;
  border-radius: 18px;
}

.seller-info .content {
  background: #383e50;
  padding: 15px;
  border-radius: 12px;
}

.seller-info .content img {
  width: 60px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.seller-info .content .title-name {
  overflow: hidden;
}

.seller-info .content .title-name p span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #01cfb0;
  margin-right: 5px;
  border-radius: 50%;
}

.seller-info .content .button {
  margin-top: 15px;
}

.contact-seller {
  text-align: center;
}

/* chat */
.my-chat .chat-item {
  float: right;
}

.my-chat .wrap-chat {
  background: #698aff;
  padding: 8px 12px;
  border-radius: 12px 0 12px 12px;
  color: #fff;
}

.my-chat .wrap-chat.chat-secondary {
  border-radius: 12px;
}

.chat-text p {
  margin-top: 3px;
}

.people-chat .chat-item {
  display: flex;
}

.people-chat .user-photo img {
  width: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.people-chat .wrap-chat {
  background: #fff;
  padding: 8px 12px;
  border-radius: 0 12px 12px 12px;
  color: #383e50;
  overflow: hidden;
}

.people-chat .chat-secondary {
  margin-left: 40px;
  border-radius: 12px;
}

.chat-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px 15px 10px;
  background: #f5f5f9;
}

.chat-form-wrapper {
  width: 100%;
  height: 40px;
}

.chat-form-wrapper .input-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chat-form-wrapper .input-wrap-inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  position: relative;
}

.chat-form-wrapper .input-file {
  width: auto;
  height: 40px;
  line-height: 50px;
  text-align: center;
  padding-left: 10px;
}

.chat-form-wrapper .input-file input[type="file"] {
  display: none;
}

.chat-form-wrapper .input-file ion-icon {
  font-size: 20px;
}

.chat-form-wrapper .input-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.chat-form-wrapper .input-link ion-icon {
  font-size: 20px;
}

.chat-form-wrapper input[type="text"] {
  width: 100%;
}

.chat-form-wrapper .button {
  flex-shrink: 0;
  margin-left: 10px;
}

/* settings */
.avatar-picture img {
  width: 100%;
  border-radius: 50%;
}

.btn-upload-picture form input {
  display: none;
}

/* image illustration */
.image-illustration {
  width: calc(100% - 110px);
  margin: auto;
  margin-bottom: 30px;
}

/* blank page */
.blank-page .content {
  text-align: center;
}

.blank-page .content h3 {
  margin-bottom: 10px;
}

.blank-page .content .button {
  margin: auto;
  margin-top: 30px;
  display: inline-block;
}

/* contact */
.contact .content h3 {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 10px;
}

/* blog */
.blog-wrap .content {
  position: relative;
}

.blog-wrap .content .blog-image img {
  width: 100%;
  border-radius: 18px;
}

.blog-wrap .content .blog-caption h6 {
  margin-bottom: 8px;
}

.blog-wrap .content .blog-date {
  margin-bottom: 15px;
}

.blog-wrap .content .blog-author {
  display: flex;
  align-items: center;
}

.blog-wrap .content .blog-author img {
  width: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.blog-wrap .content .blog-author h6 {
  color: #fff;
}

.blog-wrap.blog-full-width .blog-caption {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.blog-wrap.blog-full-width .blog-caption h6 {
  color: #fff;
}

/* blog details */
.blog-details .blog-image img {
  width: 100%;
  border-radius: 18px;
  margin-bottom: 15px;
}

.blog-details h5 {
  margin-bottom: 8px;
}

.blog-details .blog-author {
  display: flex;
  align-items: center;
}

.blog-details .blog-author img {
  width: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.blog-details .blog-date {
  margin-bottom: 15px;
}

.blog-details .blog-share .content {
  display: flex;
}

.blog-details .blog-share .content h5 {
  margin-right: 15px;
}

.blog-details .blog-share .content ul li {
  display: inline-block;
  margin-right: 10px;
}

.blog-details .blog-share .content ul li ion-icon {
  font-size: 18px;
}

/* notifications */
.notifi-wrap .image {
  position: relative;
  float: left;
  margin-right: 15px;
}

.notifi-wrap .image img {
  width: 50px;
  border-radius: 50%;
}

.notifi-wrap .image .unread-symbol {
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  height: 9px;
  background: #01cfb0;
  border-radius: 50%;
  border: 3px solid #f5f5f9;
}

.notifi-wrap .text-right h6 {
  margin-bottom: 5px;
}

.notifi-wrap .text-right h6 span {
  font-weight: 300;
  color: #888;
}

.notifi-wrap .text-right h6 a {
  font-weight: 400;
  color: #698aff;
}

/* tab add ads */
.category-list {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background: #fff;
  border-radius: 12px;
}

.category-list .category-icon ion-icon {
  float: left;
  margin-right: 15px;
  font-size: 28px;
}

.category-list .category-list-label {
  min-height: 60px;
  width: 100%;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.category-list .category-list-after {
  margin-left: auto;
}

.category-list .category-list-after ion-icon {
  font-size: 18px;
  color: #888;
}

/* add ads product details */
.choose-color ul li {
  display: inline-block;
  margin-right: 10px;
}

.choose-color ul li span {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: inline-block;
}

.add-image-content .content {
  background: #fff;
  border-radius: 12px;
  border: 2px dashed #b1b1bf;
  text-align: center;
  padding: 15px;
}

.add-image-content .content h6 {
  margin-bottom: 5px;
}

.add-image-content form input {
  display: none;
}

.add-image-content .button {
  margin: auto;
  margin-top: 20px;
  display: inline-block;
}

/* background color & color */
.bg-theme {
  background: #698aff !important;
}

.color-theme {
  color: #698aff !important;
}

.color-accent {
  color: #01cfb0 !important;
}

.bg-white {
  background: #fff !important;
  position: fixed;
  bottom: 0px;
}

.bg-dark {
  background: #383e50 !important;
}

.color-white {
  color: #fff !important;
}

.color-secondary {
  color: #e1e8f2 !important;
}

.color-dark {
  color: #383e50 !important;
}

.bg-gray {
  background: #888;
}

.bg-secondary {
  background: #e1e8f2 !important;
  color: #fff !important;
}

.bg-blue {
  background: #4da6d2 !important;
}

.color-blue {
  color: #4da6d2 !important;
}

.bg-danger {
  background: #f44336 !important;
}

.bg-succes {
  background: #1ad66c !important;
}

.bg-red {
  background: #ff6c4a !important;
}

.color-red {
  color: #ff6c4a !important;
}

.bg-green {
  background: #65ce40 !important;
}

.color-green {
  color: #65ce40 !important;
}

.bg-yellow {
  background: #ffb500 !important;
}

.color-yellow {
  color: #ffb500 !important;
}

.bg-purple {
  background: #987bd9 !important;
}

.color-purple {
  color: #987bd9 !important;
}

.bg-orange {
  background: #ff9234 !important;
}

.color-orange {
  color: #ff9234 !important;
}

.bg-brown {
  background: #de9e00 !important;
}

.color-brown {
  color: #de9e00 !important;
}

/* social media color */
.color-facebook {
  color: #3b5999 !important;
}

.color-google {
  color: #dd4b39 !important;
}

.color-twitter {
  color: #55acee !important;
}

.color-instagram {
  color: #e4405f !important;
}

.color-linkedin-in {
  color: #0077b5 !important;
}

.color-whatsapp {
  color: #25d366 !important;
}

.color-youtube {
  color: #cd201f !important;
}

.color-pinterest {
  color: #bd081c !important;
}

.color-yahoo {
  color: #410093 !important;
}

.color-dribbble {
  color: #ea4c89 !important;
}

.color-skype {
  color: #00aff0 !important;
}

.bg-facebook {
  background: #3b5999 !important;
  color: #fff !important;
}

.bg-twitter {
  background: #55acee !important;
  color: #fff !important;
}

.bg-google {
  background: #dd4b39 !important;
  color: #fff !important;
}

.bg-instagram {
  background: #e4405f !important;
  color: #fff !important;
}

.bg-whatsapp {
  background: #25d366 !important;
  color: #fff !important;
}

.bg-linkedin {
  background: #0077b5 !important;
  color: #fff !important;
}

.bg-pinterest {
  background: #bd081c !important;
  color: #fff !important;
}

.bg-dribbble {
  background: #ea4c89 !important;
  color: #fff !important;
}

.bg-yahoo {
  background: #410093 !important;
  color: #fff !important;
}

.bg-skype {
  background: #00aff0 !important;
  color: #fff !important;
}
.game-total {
  display: flex;
  flex-wrap: wrap;
}
.game-total .sport-cc {
  width: 84px;
  height: 80px;
  /* padding-left: 10px; */
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin: 0px auto;
  border-radius: 6px;
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 10%);
}
.game-total div img {
  width: 38px;
  margin: 0px auto;
  padding-bottom: 7px;
}
.game-total div h6 {
  font-size: 12px;
  margin-bottom: 0px;
}
.buttons {
  margin: 10%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-hover {
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 9px;
  height: 38px;
  text-align: center;
  border: none;
  background-size: 330% 200%;
  border-radius: 3px;
  font-weight: 400;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-7 {
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgb(126 52 161 / 19%);
}
.more-div {
  display: flex;
  justify-content: end;
}
.more-div a i {
  background: #7142bd;
  color: #fff7f7;
  padding: 3px 4px;
  border-radius: 50%;
  /* display: flex; */
  text-align: center;
}
.more-div a {
  color: white !important;
  font-size: 12px !important;
}
.back-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
a {
  text-decoration: none !important;
}
.image-pro img {
  width: 35px;
}
.image-pro {
  width: 45px;
  height: 41px;
  background: #698affc4;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  padding-right: 0px !important;
}
.profile-card {
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin: 0px auto;
  border-radius: 6px;
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 10%);
  margin-top: 10px;
}
.padding-col {
  padding: 0px;
}
.p-style p {
  font-size: 12px;
  color: black;
}
.font-alignh {
  text-align: start;
}
.quick-b {
  width: 100%;
  border: navajowhite;
  padding: 5px 7px;
  background: #698aff;
  color: white;
  border-radius: 5025px;
  font-size: 13px;
  font-weight: 400;
}
.card-ground {
  text-align: center;
  justify-content: center;
  padding: 12px;
  margin: 0px auto;
  border-radius: 6px;
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 25%);
  background: white;
  margin-bottom: 13px;
}
.card-ground img {
  /* width: 100%;
  height: 100%;
  border-radius: 3px; */
  width:126px;
  height: 71px;
  border-radius: 3px;
}



.card-ground p {
  font-size: 12px;
  font-weight: 500;
  color: #000000c7;
}
.card-ground i {
  color: #ff9234;
}
.ground-img-d {
  /* width: 308px; */
  height: 65px;
}
.width-img-badmin {
  width: 14%;
}
.fs-h5 {
  font-size: 13px;
  color: black;
  text-align: left;
  padding-left: 11px;
  font-weight: 600;
}
.line-hr {
  width: 55%;
  height: 1px;
  background: #383e5066;
  margin-top: 7px;
}
.font-h6b {
  font-size: 10px;
}
.width-img-b {
  width: 73% !important;
  height: auto !important;
}
.container,
section,
.categories,
.header-title,
#carouselExampleControls {
  background-color: white;
}
.img-categir {
  background: rgb(140 165 255 / 23%);
  text-align: center;
  padding: 8px;
  border-radius: 41px;
  /* border-top-left-radius: 21px; */
  /* border-bottom-right-radius: 21px; */
  background-image: radial-gradient(
    circle,
    #698aff,
    #698aff,
    #698aff,
    #698aff,
    #698aff
  );
  height: 46px;
  width: 46px;
  margin: 1px auto;
}
.img-categir img {
  width: 31px;
  height: auto;
}
.flex-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flexw-g {
  width: 60px;
}
.log-l-l {
  display: flex !important;
  justify-content: center;
}
.log-l-l img {
  width: 14%;
  padding-left: 11px;
}
.log-in-content {
 color: #dc3545;
    font-weight: 400;
    font-size: 18px;
}
.box-otp {
  flex-wrap: wrap;
  justify-content: space-around;
}
.box-otp input {
  overflow: visible;
  width: 15% !important;
  display: flex !important;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.left-div-arrow {
  position: absolute;
  left: 8px;
  top: 60px;
  background: white;
  padding: 1px 7px;
  border-radius: 20px;
  margin-top: 10px;
  z-index: 99;
}
.left-div-arrow i {
  font-size: 14px;
  padding-top: 2px;
}
.button-sty-map {
  width: 100% !important;
  justify-content: space-around;
  border: 1px solid rgb(0 0 0 / 12%) !important;
  padding: 5px 2px;
  background: #8080800d;
  border-radius: 5px;
}
.button-sty-map img {
  width: 17px;
}
.for-i i {
  color: #dc3545;
  padding-top: 2px;
}
.circle-green {
  height: 9px;
  width: 9px;
  background: green;
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 7px;
}
.align-center-containg {
  height: 412px;
  align-items: center;
  display: flex;
  align-items: center;
  overflow: none;
  position: fixed;
}
.clr-dif {
  color: #007bff;
  font-weight: 600;
  font-size: 15px;
  padding-top: 13px;
  padding-bottom: 8px;
}

.searchbar input {
  height: 35px !important;
  font-size: 14px !important;
  background: rgb(255 255 255 / 15%) !important;
  padding-left: 32px !important;
  padding-right: 32px !important;
  border: 1px solid #00000073 !important;
  border-radius: 6px !important;
}
.icon-posi {
  position: absolute;
  top: 9px;
  left: 8px;
  color: #212529;
  font-size: 18px;
}
.card-date {
  text-align: center;
  justify-content: center;
  padding: 0px;
  margin: 0px auto;
  border-radius: 6px;
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 25%);
  background: white;
  margin-bottom: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
}
.select-dbox {

    padding: 4px 22px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 6px;
    color: white;
    background-image: linear-gradient( to right, #6253e1, #6a4ace, #6551dc, #974da7 );
}
.width-time-slot {
  width: 72px;
  background: #1c9b39;
  padding: 8px 4px;
  border-radius: 4px;
  text-align: center;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
  text-transform: capitalize;
}
.width-time-slot h5 {
  color: white;
}
.time-sl-c {
  background: gray;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  color: #212529;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png)
    left top no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px
    top no-repeat;
}
address {
  font-size: 12px;
}
.safe-payment {
  display: flex;
  justify-content: space-evenly;
  background: #e9ecef;
  align-items: center;
  padding: 7px 5px;
  border-radius: 4px;
  margin: 8px;
}
.safe-payment img {
  width: 7%;
}
.safe-payment p {
  font-size: 12px;
}
.highlightgame {
  border: 2px solid #6253e1 !important;
}
.nonhighlightgame {
  border: none !important;
}
.unorder li {
  font-size: 13px;
}
.unorder li span {
  font-size: 14px;
}
.clr-r {
  color: #dc3545;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
.email-in:focus {
  outline: none !important;
  border: none !important;
}
.email-in {
  display: flex !important;
  width: 100%;
  height: calc(2.5em + 0.75rem + 2px) !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5 !important;
  color: #495057;
  background-color: #fff !important;
  background-clip: padding-box;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.card-players {
  display: flex;
  justify-content: space-evenly;
  padding: 11px 2px;
  padding-top: 9px;
}
.img-play {
  /* background: #343a40ab;
  padding: 5px -6px;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 47px; */

  width: 14%;
}

.img-play img {
  width: 100% !important;
}
.add-plus {
  width: 26px;
  height: 24px;
  background: #698affeb;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  top: 48%;
  right: 9%;
}
.add 
{
  width: 25px;
  height: 25px;
  background: #212327eb;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}
.clr-font
{
  color: white;
  font-size: 14px;
}
.cards-plays {
  width: 81%;
  justify-content: center;
  border: 1px solid #698aff8c;
  margin: 1px auto;
}
.position-player-name {
  width: 42%;
  background: #698aff;
  padding: 5px 7px;
  text-align: center;
  border-radius: 18px;
  position: relative;
  left: 87px;
  bottom: -16px;
  z-index: +11;
}
.clr-w {
  color: white;
}
.add-plus h6 {
  font-size: 30px;
  color: white;
}
.invite-all {
  border: oldlace;
  /* background: #007bff; */
  background-image: linear-gradient(
    to right top,
    #3075c0,
    #007097,
    #006365,
    #305141,
    #3b3f33
  );
  padding: 4px 0px;
  border-radius: 5px;
  color: black;
  /* margin-top: 29px; */
  width: 100%;
  text-align: center;
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(97,186,255,1) 0%, rgb(0 123 255 / 50%) 90.1% ); */
  background: #dc3545;
  color: white;
  font-size: 13px;
  padding: 3px 9px;
}
.back-div-add {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 32px;
}
.img-ground-de {
  width: 100%;
  border-radius: 3px;
}
/* ////////select */
.img-pin-w {
  width: 19px;
}
.img-loca-w {
  width: 15px;
  height: 14px;
  margin-left: 6px;
  margin-top: 6px;
}
.img-notifi-w {
  /* width: 22px;
  margin-top: 2px; */
  width: 23px;
  margin-top: 2px;
  position: absolute;
  right: 99px;
  top: -5px;
}
.position-nav {
  position: fixed;
  top: 0px;
  z-index: +9999;
}
body {
  padding-top: 60px;
  padding-bottom: 43px;
}
.profile-margin {
  margin-top: 50px;
}
.select-pick-aside {
  width: 57%;
  background: #698aff !important;
  color: white;
  border-radius: 3px !important;
  margin: 1px auto;
  height: 29px !important;
}

.cls-labe {
  font-size: 15px;
  font-weight: 600;
}

.a-clr-white {
  background: #6f50d1;
  border-radius: 3px !important;
  color: white;
  height: 39px;
  display: flex !important;
  align-items: center;
  /* padding: 4px 5px !important; */
  width: 113px;
  margin-top: 6px;

}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color:#698aff !important;
  color: white;
}
.a-clr-white :active{
  background: #5052d1 !important;
  border-radius: 3px !important;
  color: white;
  height: 30px;
  display: flex !important;
  align-items: center;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #8f4daf !important;
  border-radius: 11px !important;
}
.btn-payment {
  width: 128px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  /* margin: 22px; */
  height: 36px;
  text-align: center;
  border: none;
  background-size: 330% 200%;
  border-radius: 3px;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgb(126 52 161 / 19%);
}
.i-clr {
  font-size: 10px;
}
.i-sty {
  color: #ff9234;
}
.i-sty1 {
  color: gray;
}
.select-pick {
  height: 35px !important;
  /* font-size: 14px !important; */
  background: #337ab7 !important;
  border-radius: 0px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: white !important;
  width: 119px;
}
.select-pick option {
  color: white !important;
}
.edit-profile-button {
  background-image: linear-gradient(
    to right,
    #7d36a5,
    #7f349e,
    #7e35a1,
    #80329b
  );
  box-shadow: 0 4px 15px 0 rgb(126 52 161 / 19%);
  border-radius: 21px;
  padding: 0 1px;
  height: 19px;
  line-height: 38px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: none;
  width: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
}
.list-sty {
  margin-top: 0px;
  margin-bottom: 0px;
}
.notifi-div {
  width: 77px;
}
.notifi-div img {
  width: 35px;
  border-radius: 24px;
}
.cls-notifi-p p {
  font-size: 12px;
}
.cls-notifi-p p span {
  font-weight: 800;
  padding-left: 2px;
  padding-right: 2px;
}
.button-request {
  background-image: linear-gradient(
    to right,
    #7d36a5,
    #7f349e,
    #7e35a1,
    #80329b
  );
  box-shadow: 0 4px 15px 0 rgb(126 52 161 / 19%);
  border-radius: 3px;
  padding: 0 1px;
  height: 23px;
  line-height: 38px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: none;
  width: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  display: flex;
  align-items: center;
}
.ok-button {
  color: #698aff !important;
}
.card-edit-profile {
  padding: 8px;
  /* margin: 0px !important; */
  /* margin-top: 35px; */
  margin: 31px 0px;
}
.card-edit-profile div {
  margin-top: 0.5rem;
}
.card-edit-profile div label {
  font-size: 12px !important;
}
.imf-view-p {
  width: 80px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 15px;
}
.date-of-birth {
  border: 1px solid #8080804a !important;
}
.view-ph {
  margin-top: 1rem;
}
.view-ph h6 {
  color: #698aff;
}
.view-ph p {
  border-bottom: 1px solid #80808017;
  margin-left: 27px !important;
}
.view-ph h6 i {
  color: #212529;
  margin-left: 6px;
  font-size: 16px;
}
.view-i-name {
  font-size: 14px !important;
}
.views-profile img {
  width: 65px;
  border-radius: 21px;
  margin: auto;
  margin-bottom: 15px;
  height: 65px;
  margin-top: 2rem;
}

/* ////////upload-profile//// */
/* .profile-pic__container,
.profile-pic__foreground {
  line-height: 200px;
  text-align: center;
}
.profile-pic__container {
  overflow: hidden;
  position: relative;
  border: 1px solid #333;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
}
.profile-pic__foreground {
  position: absolute;
  bottom: 1px;
  width: 28px;
  height: 26px;
  color: transparent;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  right: 17px;
  border-radius: 20px;
}
.profile-pic__foreground:hover {
  color: #fff;
  background-color: rgba(20, 20, 20, 0.85);
}
.pic-name-upload {
  color: black !important;
  margin-top: -61px !important;
  font-size: 10px;
} */
/* ////////////////////// */
/* canvas {
  width: 80px;
  height: 80px;
  margin: 10pt;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin: 1px auto;
  margin-top: 17px;
} */
/* profile uopload  */
.profile-pic {
  width: 200px;
  max-height: 200px;
  display: inline-block;
}

.file-upload {
  display: none !important;
}
.circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  top: -18px;
  margin: 0px auto;
}
.profile-pic {
  max-width: 100%;
  height: 77px;
}
.p-image {
  top: -48px;
  right: -59px;
  color: #666666;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}
.p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.upload-button {
  font-size: 13px;
  color: #ffffff !important;
  background: #80339c;
  padding: 5px;
  border-radius: 20px;
}

.upload-button:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}
/* end profile upload */
.card-leader {
  padding: 8px;
  margin: 2px;
  /* box-shadow: 8px 10px 7px 0px #80808021; */
  border-radius: 14px;
}
.width-imgp img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.width-imgp p {
  /* font-size: 17px; */
}
.font-for-starn h6 {
  font-size: 12px;
  font-weight: 400;
}
.p-points {
  font-weight: 500;
  font-weight: 500;
  font-size: 11px;
}
.row-bann-img {
  width: 50%;
}
.row-bann-img img {
  width: 49px;
}
.location-text {
  color: black !important;
}
.cls-sign-out {
  text-align: start;
}
.margin-r 
{
  
  margin-right: 25px;
}
/* .animation-notifi {
  animation-name: animate__headShake linear infinite;
  animation-duration: 4s; 
  animation-name: lrShake !important;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}
@keyframes lrShake {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
} */
.margin-loc {
  margin-top: 80px !important;
}
.tool-footer {
  padding-right: 15px;
}
.border-locat p {
  color: #6550db;
  margin-bottom: 0px;
  padding-left: 12px;
  padding-bottom: 0.5rem;
}
.border-locat {
  border: 1px solid #80808082;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.carousel-indicators li {
  display: inline-block;
  width: 19px;
  height: 1px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #0009;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 1px;
  background-color: white;
}
.total-am {
  border-top: 1px solid #808080a8;
}
.focus:focus {
  outline: none !important;
}
.clr-green {
  color: green !important;
  font-weight: 500 !important;
}
.carousel-indicators .active {
  width: 19px;
  height: 2px;
  margin: 0;
  background-color: #fff;
}
.clss-pointsl {
  /* padding-left: 35px; */
  position: absolute;
  right: 92px;
  bottom: 11px;
}
.img-matchs {
  width: 35px;
  border-radius: 21px;
}
.font-wei-ma {
  font-weight: bold;
  color: #337ab7;
  font-size: 15px;
}
.pts-match {
  /* background: #f0f8ff59;  */
  text-align: center;
  font-size: 10px;
  border-radius: 3px;
  justify-content: space-around;
}
.select-score {
  height: 26px !important;
  /* font-size: 14px !important; */
  background: #337ab7 !important;
  border-radius: 4px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: white !important;
  width: 47px;
  text-align: center;
}
.icon-mk {
  color: #063f95;
}
.adding-points-sp {
  color: white;
  background: green;
  border: none;
  margin: 0px;
  padding: 1px 6px;
  font-size: 9px;
}
.points-card {
  margin: 0px;
  padding: 6px 8px;
  text-align: center;
}
.padding-righ {
  padding-right: 5px !important;
}
.padding-left {
  padding-left: 5px !important;
}

.slots-po {
  height: 156px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.margin-top39 {
  margin-top: 39px;
}
.adding-points-neg {
  color: white;
  background: red;
  border: none;
  margin: 0px;
  padding: 1px 6px;
  font-size: 9px;
}
.match-open-button {
  background: #dc3545;
  border: none;
  font-size: 10px;
  padding: 3px 8px;
  border-radius: 5px;
  color: white !important;
}
.a-style {
  position: relative;
  display: block;
  padding: 8px 11px !important;
  font-size: 12px !important;
  background: #6f50d1 !important;
  color: white;
}
.ul-crea {
  display: flex;
  justify-content: space-evenly;
}
.groun-join-mat {
  width: 100%;
  height: 80px;
}
.img-open-gro {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.main-div-imgo {
  width: 80px;
  height: 89px;
}
.card-open-g {
  margin: 0px;
  padding: 5px;
}
.join-cls-f {
  background: #698aff;
  border: none;
  font-size: 11px;
  padding: 0px 13px;
  border-radius: 3px;
  color: white !important;
  padding-top: 2px;
}
.slots-open-match {
  color: green;
}
.main-time-date {
  font-size: 11px;
}
.main-time-date span {
  font-weight: bold;
}
.ground-c-join {
  font-size: 12px;
}
.main-card-teamd {
  width: 92px;
  justify-content: center;
  border: 1px solid #698aff8c;
  margin: 1px auto;
  border-radius: 3px;
  padding: 7px 6px;
}
.button-ar {
  border: none;
  background: #dc3545;
  border-radius: 3px;
  color: white;
  font-size: 11px;
  padding: 3px 1px;
  width: 50px;
}
.select-gender {
  height: 35px !important;
  /* font-size: 14px !important; */
  background: #337ab7 !important;
  border-radius: 0px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: white !important;
  width: 100%;
}
.checked-gif {
  width: 53px;
  margin: 1px auto;
}
.margin-congratulations {
  margin-top: 5rem;
}
.card-final-details {
  padding: 10px;
}
.match-details {
  text-align: center;
  margin-bottom: 13px;
  font-size: 16px;
  color: #007bff;
}
.fs-activity {
  font-size: 17px;
  color: black;
  text-align: left;
  
  font-weight: 600;
}
.activity-v {
  color: black;
  font-weight: 500;
  font-size: 12px;
}
.t-start {
  text-align: start;
}
.ground-img-activity {
  width: 108px;
  height: 56px;
}
.ground-img-activity1 {
  width: 60px;
  height: 56px;
}
.ground-img-activity img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.ground-img-activity1 img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  margin-top: 12px;
}
.main-div-open {
  width: 65px;
  height: 65px;
}
.mb-10px {
  margin-bottom: 10px;
}
.main-div-open img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.notifi-cls-f {
  background: #dc3545;
  border: none;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  color: white !important;
}
.bell-open-notifi {
  padding-top: 3px;
}
.jus-ev {
  justify-content: space-evenly;
}
.but-acc {
  width: 54px;
  border: none;
  border-radius: 3px;
  background: green;
  color: white;
  font-size: 11px;
}
.cl-red {
  color: #212529bd;
}
.label-survey {
  font-size: 13px;
  font-weight: 500;
  text-align: justify;
}
.select-survey {
  height: 35px !important;
  /* font-size: 14px !important;  */
  background: #337ab7 !important;
  border-radius: 0px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: white !important;
  width: 90%;
  margin: 1px auto;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.reg_p {
  padding: 10px 5px;
  font-size: 14px;
  font-weight: 500;
}
.err {
  font-size: 10px;
  color: red;
}
.gmail
{
 height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
}
.hei-img-g
{
  height: 200px !important;
  border-radius: 3px;
}
.custom-card {
    padding: 6px 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #80329c;
}
.mt-30 {
  margin-top: 30px;
}
.exp-time{
  color: white;
  font-size: 14px;
}
.pd-5 {
  padding-right: 5px;
  color: white;
}
.bt-timer {
  width: 100%;
  /* background: red; */
  padding: 10px;
  color: #dc3444;
  border-radius: 3px;
  margin: 20px 10px;
  font-weight: 700;
  text-align: center;
}
.bt-expi {
  font-size: 14px !important;
  color: white !important;
  background-color: red;
  padding: 10px;
  border-radius: 3px;
}
.otp-exp{
  font-size: 16px;
  color: white;
}


.new-button {
  width: 126px !important;
  text-align: center !important;
  border-radius: 5px;
  background: #7142bd !important;
  color: white !important;
}
.button-request {
  /* background-image: linear-gradient( to right, #7d36a5, #7f349e, #7e35a1, #80329b ); */
  box-shadow: 0 4px 15px 0 rgb(126 52 161 / 19%);
  border-radius: 3px;
  padding: 0 1px;
  height: 23px;
  line-height: 38px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: none;
  width: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  display: flex;
  align-items: center;
  background: #ff0000d9;
}


/* ///search start/// */
main {
  margin-top: 20px
}



.search {
  position: relative;
  margin: 0 auto;
  width: 300px;
}

.search input {
  height: 26px;
  width: 100%;
  padding: 0 12px 0 25px;
  background: white url("https://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
  border-width: 1px;
  border-style: solid;
  border-color: #a8acbc #babdcc #c0c3d2;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
  outline: none;
  border-color: #66b1ee;
  -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
  -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
  -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
  -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
  box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus+.results {
  display: block
}

.search .results {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  border-radius: 3px;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: linear-gradient(top, #fdfdfd, #eceef4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li {
  display: block
}

.search .results li:first-child {
  margin-top: -1px
}

.search .results li:first-child:before,
.search .results li:first-child:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border: 5px outset transparent;
}
.bg-hellouser
{
      background: #fcfefc;
}
.search .results li:first-child:before {
  border-bottom: 5px solid #c4c7d7;
  top: -11px;
}

.search .results li:first-child:after {
  border-bottom: 5px solid #fdfdfd;
  top: -10px;
}

.search .results li:first-child:hover:before,
.search .results li:first-child:hover:after {
  display: none
}

.search .results li:last-child {
  margin-bottom: -1px
}

.search .results a {
  display: block;
  position: relative;
  margin: 0 -1px;
  padding: 6px 40px 6px 10px;
  color: #808394;
  font-weight: 500;
  text-shadow: 0 1px #fff;
  border: 1px solid transparent;
  border-radius: 3px;
}

.search .results a span {
  font-weight: 200
}

.search .results a:before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
  background: url("https://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border-color: #2380dd #2179d5 #1a60aa;
  background-color: #338cdf;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
  background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
  background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
  background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
  background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
  background-image: linear-gradient(top, #59aaf4, #338cdf);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

.lt-ie9 .search input {
  line-height: 26px
}
/* /////////search bar end//////////////////// */
.bell-icon
{
  font-size: 19px;
}
.banner-rad
{
  border-radius: 5px;
}
.img-logo
{
  width: 37px !important;
    height: 39px !important;
}
.iframs-card
{
  width: 100%;  
}
.timeslot-button 
{
  margin: 1px auto;
}
.clr-red 
{
  color: #007bff;
  font-size: 21px;
  margin-top: 28px !important;
}
.available-button 
{
  margin: 0px;
  width: 143px;
border-top-left-radius: 0px !important;
border-bottom-left-radius: 0px !important;
}
.clr-green 
{
  color: green;
}
.main-button
{
  width: 229px;
  margin: 1px auto;
  margin-top: 30px;
}
.add-f 
{
  width: 25px;
    height: 25px;
    background: #698affeb;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    /* position: absolute; */
    /* top: 56%; */
    /* right: 9%; */
    margin-top: 15px;
    padding-top: 4px;
}
.add-f h6 
{
  color: white;
}
.border-bottoml 
{
  border-bottom: 1px solid #dcdcdcc2;
  padding-bottom: 7px;
}
.back-divr 
{
  display: flex;
  justify-content: flex-start;
  padding-left: 13px;
  padding-right: 32px;
}
.image-pro1 {
  width: 45px;
  height: 44px;
  background: #698affc4;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  padding-right: 0px !important;
}
.img-wg 
{
  width: 77%;
}
.img-notifi {
  width: 20px;
  margin-top: 2px;
  /* position: absolute; */
  /* right: 99px; */
  /* top: -5px; */
}



/* //////radion for host request */
.but {
  background: none;
  padding: 4px;
  border-radius: 3px;
  position: relative;
  width: fit-content;
}

.but .clr-font {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  /* padding: 5px 10px; */
  background: none;
  color: #ececec !important;
  font-size: 15px;
  font-family: sans-serif;
  transition: all 0.1s;
  background-color: #212529 !important;
  border-radius: 50px !important;
  height: 30px !important;
  width: 25px !important;
  align-items: center;
  display: flex;
  justify-content: center;
}




.but .clr-font:checked {
  background: #dc3444 !important;
  height: 30px !important;
    width: 25px !important;
    align-items: center;
    display: flex;
    justify-content: center;
  border: none;
}

.but .clr-font::before {
  content: attr(label);
    text-align: center;
    font-size: 15px;
}
/* //////end/// */
.border-bottom2
{
  border-bottom: 1px solid #dcdcdcc2;
    padding-bottom: 7px;
    width: 90%;
    margin: 1px auto;
}
.btn-width 
{
  width: 84px;
  border: none;
  background: #dc3444;
  margin-right: 5px;
  padding: 4px 10px;
  border-radius: 3px;
  color: white;
}
.btn-width-acc
{
  width: 84px;
  border: none;
  background: #28a745;
  margin-right: 5px;
  padding: 4px 10px;
  border-radius: 3px;
  color: white;
}
.lab 
{
  webkit-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  /* padding: 5px 10px; */
  background: none;
  color: #ececec !important;
  font-size: 15px;
  font-family: sans-serif;
  transition: all 0.1s;
  background-color:#6c757dd1 !important;
  border-radius: 50px !important;
  height: 28px !important;
  width: 25px !important;
  align-items: center;
  /* display: flex; */
  justify-content: center;
  border: navajowhite;
}

.but .lab:checked {
  background: #dc3444 !important;
  height: 30px !important;
    width: 25px !important;
    align-items: center;
    display: flex;
    justify-content: center;
  border: none;
}
.scrool-subhost
{
  height: 275px;
  overflow: scroll;

}
.border-bottoms
{
  border-bottom: 1px solid #ddd8d8;
    padding-bottom: 5px;
}
.colour-red
{
  background: #dc3444;
}
.width-icon-main
{
  width: 34px;
    background: #dc3444;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.width-icon-main img
{
  width: 100%;
}
.bg-main 
{
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-hei-w 
{
  width: 158px;
  margin: 10px 0px;
}
.team-sub-radio 
{
  position: relative;
    right: 26px;
    color: white;
    bottom: -2px;

}
.team-sub-player {
  position: relative;
  right: 20px;
  color: white;
  bottom: -2px;
}