switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}







/*.multi-selectt,*/
/*.multi-select-options {*/
/*  background: #fff;*/
/*  width: 100%;*/
/*}*/
/*.multi-select {*/
/*  display: block;*/
/*  position: relative;*/
/*  line-height: 35px;*/
/*  border: 1px solid #ddd;*/
/*  margin: 0 0 50px;*/
/*  padding: 0;*/
/*}*/
/*.multi-select input {*/
/*  display: none;*/
/*}*/
/*.multi-select label {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/*.multi-select .toggle-open {*/
/*  display: block;*/
/*  font-size: 1em;*/
/*  font-weight: bold;*/
/*  padding: 0 10px;*/
/*  height: 35px;*/
/*  width: auto;*/
/*  cursor: pointer;*/
/*}*/
/*.multi-select .toggle-open:after {*/
/*  clear: both;*/
/*  display: block;*/
/*  position: absolute;*/
/*  top: 12px;*/
/*  right: 10px;*/
/*  content: "";*/
/*  height: 0;*/
/*  width: 0;*/
/*  padding: 0;*/
/*  margin: 0 auto;*/
/*  border: 8px solid transparent;*/
/*  border-top-color: #07afef;*/
/*}*/
/*.multi-select-options {*/
/*  position: absolute;*/
/*  top: 35px;*/
/*  left: 0;*/
/*  list-style: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  overflow: auto;*/
/*  border-bottom: 1px solid #ddd;*/
/*}*/
/*.multi-select-options > li:first-child span {*/
/*  border-top: 1px solid #ddd;*/
/*}*/
/*.multi-select-options > li span {*/
/*  display: none;*/
/*  height: 35px;*/
/*  width: auto;*/
/*  padding: 5px 10px;*/
/*  background: #f3f3f3;*/
/*  border: 1px solid #ddd;*/
/*  border-top: 0;*/
/*  cursor: pointer;*/
/*}*/
/*.multi-select-options > li span:after {*/
/*  content: "\002B";*/
/*  display: inline-block;*/
/*  font-size: 1.5em;*/
/*  font-weight: bold;*/
/*  position: absolute;*/
/*  right: 10px;*/
/*  z-index: 99;*/
/*}*/
/*.multi-select-options > li span:hover {*/
/*  background: #d7d7d7;*/
/*}*/
/*.multi-select-options > li input[type="checkbox"]:checked + span {*/
/*  background: #b8eaa5;*/
/*  font-weight: bold;*/
/*}*/
/*.multi-select-options > li input[type="checkbox"]:checked + span:after {*/
/*  content: "\2212";*/
/*  font-size: 1.3em;*/
/*}*/
/*#toggle-open:checked ~ .multi-select-options {*/
/*  height: 200px;*/
/*}*/
/*#toggle-open:checked ~ .multi-select-options label,*/
/*#toggle-open:checked ~ .multi-select-options span {*/
/*  display: block;*/
/*}*/
/*#toggle-open:not(:checked) ~ .multi-select-options {*/
/*  display: block;*/
/*  background: none;*/
/*  border: none;*/
/*  padding: 5px 0;*/
/*}*/
/*#toggle-open:not(:checked)*/
/*  ~ .multi-select-options*/
/*  input[type="checkbox"]:checked*/
/*  + span {*/
/*  display: inline-block;*/
/*  float: left;*/
/*  margin: 0 10px 10px 0;*/
/*  padding: 0px 10px;*/
/*  width: auto;*/
/*  position: inherit;*/
/*  top: 0;*/
/*  border-top: 1px solid #ddd;*/
/*}*/
/*#toggle-open:not(:checked)*/
/*  ~ .multi-select-options*/
/*  input[type="checkbox"]:checked*/
/*  + span:before {*/
/*  content: "\2A09";*/
/*  padding: 0 5px 0 0;*/
/*}*/
/*#toggle-open:not(:checked)*/
/*  ~ .multi-select-options*/
/*  input[type="checkbox"]:checked*/
/*  + span:after {*/
/*  content: "";*/
/*  position: inherit;*/
/*}*/